@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SpaceGrotesk-Medium';
  src: url('/font/Space_Grotesk/static/SpaceGrotesk-Medium.ttf') format('truetype');
}

